/* Height and width given to main container */
.Container {
    height: auto;
    width: auto;
    border: 1px solid black;
}
.sub-main-container{
    
}
.main-container-child{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}